// Variables
$primaryblue: #bae1ff;
$secondaryblue: #94b4cc;
$button: #ffc9c9;
$buttonborder: #cc9494;
$background: #ffb3ba;
$white: #ffffff;
$black: #000000;

// Mixins
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin buttons {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: $button;
  border: 2px solid $buttonborder;
  border-radius: 50%;
  margin: 10px;
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
  font-family: "Futura";
  src: url(https://cdn.glitch.com/30b6b0f8-effd-4bb0-be7b-31f6fa27545f%2Ffutura%20book%20font.ttf?1547089013291);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Futura";
}

body {
  background: linear-gradient($background, $white);
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100vw;
}
// "Drum Machine" Component
.container {
  @include push--auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid $secondaryblue;
  border-radius: 3px;
  display: grid;
  grid-template-rows: 15% 85%;
  height: 500px;
  box-shadow: 10px 15px 20px darkgrey;
  width: 70%;

  #baseRow-1 {
    background-color: white;
    position: relative;
    .title {
      margin: 0;
      text-align: center;
      @include vertical-align;
      font-weight: 400;
    }
  }
  #baseRow-2 {
    @media screen and (max-width: 700px) {
      grid-template-rows: 60% 40%;
      grid-template-columns: none;
    }
    background-color: $primaryblue;
    display: grid;
    grid-template-columns: 60% 40%;
    .innerColumn-1 {
      display: grid;
      grid-template-columns: repeat(3, 75px);
      grid-template-rows: repeat(3, 75px);
      margin: 45px;
      grid-gap: 20px;

      @media screen and (max-width: 750px) {
        grid-gap: 15px;
        grid-template-columns: repeat(3, 67px);
        grid-template-rows: repeat(3, 67px);
      }
      @media screen and (max-width: 700px) {
        @include push--auto;
        grid-template-rows: repeat(3, 60px);
        grid-template-columns: repeat(3, 75px);
        grid-gap: 15px;
      }
      @media screen and (max-width: 400px) {
        @include push--auto;
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(3, 60px);
        grid-gap: 15px;
      }
      @media screen and (max-width: 300px) {
        @include push--auto;
        grid-template-rows: repeat(3, 45px);
        grid-template-columns: repeat(3, 45px);
        grid-gap: 15px;
      }

      .pads {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 3.5px solid $secondaryblue;
        border-radius: 3px;
        user-select: none;
        transition: all 0.2s;
      }
      .keystroke {
        transform: translateY(-10px);
        animation: keyHit 0.2s;
      }
      .pads:hover {
        cursor: pointer;
        animation: pad-hover 300ms forwards;
        transform: translateY(-3px);
        background-color: $black;
        color: $white;
      }
      .pads:active {
        transform: translateY(-10px);
      }
      @keyframes keyHit {
        0% {
          transform: translate(0px);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translate(0px);
        }
      }
    }
    .innerColumn-2 {
      display: grid;
      grid-template-rows: 53% 33% 14%;
      background-color: $primaryblue;

      #column-row-1 {
        background-color: $primaryblue;
      }
      #column-row-2 {
        background-color: $primaryblue;
      }
    }
  }
}

// "Display" Component
.outer-box {
  @include push--auto;
  @include vertical-align;
  width: 75%;
  height: 55%;
  border-radius: 5px;
  background-color: $secondaryblue;

  .inner-box {
    @include push--auto;
    @include vertical-align;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    background-color: white;

    .display-text {
      text-align: center;
      @include vertical-align;
      font-weight: 400;
    }
  }
}

// "Buttons" Component
.button-container {
  @include push--auto;
  @include vertical-align;
  margin: 0;
  padding: 0;
  display: inline-block;

  .button-1 {
    @include buttons;
    &:hover {
      cursor: pointer;
    }
  }
  .button-2 {
    @include buttons;
    &:hover {
      cursor: pointer;
    }
  }
}

// "Volume" Component
.volume-div {
  text-align: center;
  .volume {
    appearance: none;
    -webkit-appearance: none;
    width: 75%;
    height: 10px;
    border-radius: 25px;
    border: 3px solid $secondaryblue;
    outline: none;
  }
  .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: $white;
    border: 3px solid $secondaryblue;
    transition: all 0.4s;
    border-radius: 100%;
    &:hover {
      cursor: grab;
      background-color: $secondaryblue;
    }
  }
}
